:host {
    display: block;
    width: 100%;

    .rg-button {
        width: 100%;
        height: 3rem;
        text-align: left;

        &.active {
            background-color: #DDDDFF;
        }

        mat-icon {
            width: 2.5rem;
        }
    }
}
