<div class="jumbotron">
    <h1 class="display-4">
        Layouts!
    </h1>
    <p class="lead">
        Here are a couple of examples for Layouts. Use the "Editable" to play around with different panel settings, and use the "Application" to see
        a working example.
    </p>
    <hr class="my-4">
    <p>
        Select one of the demos before, and click the arrow icon to return here.
    </p>

    <a class="btn btn-primary btn-lg mr-3"
       [routerLink]="['/editable']"
       role="button">
        Editable
    </a>

    <a class="btn btn-primary btn-lg"
       [routerLink]="['/mobile']"
       role="button">
        Application
    </a>
</div>
