<rg-toggle-state class="ml-2 mr-auto mt-1"
                 [state$]="mobileState.selectFooterShow()"
                 (toggle)="mobileState.toggleFooterShow()"
                 iconOff="keyboard_arrow_up"
                 iconOn="keyboard_arrow_down">
</rg-toggle-state>
<ng-container *ngIf="footerShow$ | async; else footerHide">
    <form class="w-100 flex flex-column p-3 overflow-auto">
        <mat-form-field class="w-100"
                        *ngFor="let field of fields">
            <mat-label>{{field.label}}</mat-label>
            <input matInput [placeholder]="field.placeholder" [value]="field.value">
        </mat-form-field>
    </form>
</ng-container>
<ng-template #footerHide>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5,10,25,100]">
    </mat-paginator>
</ng-template>
